@model IEnumerable<school_management_system.Models.Result>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalMarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.ExamID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResultID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResultID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResultID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
