@model IEnumerable<school_management_system.Models.TeacherSubject>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherID)
                 @Html.DisplayFor(modelItem => item.Teacher.FirstName) 
                 @Html.DisplayFor(modelItem => item.Teacher.LastName)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.SectionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeacherSubjectID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeacherSubjectID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeacherSubjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
