@model IEnumerable<school_management_system.Models.Attendance>

<h2>My Attendance</h2>

<h4>Attendance Percentage: @ViewBag.AttendancePercent %</h4>
<h4> Total attence day : @ViewBag.Totalpresentday</h4>
<h4> tOTAL Absent day : @ViewBag.Totalabsentday</h4>

<table class="table table-bordered">

    <tr>
        <th>Date</th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date.ToShortDateString()</td>
            <td>@item.Status</td>
        </tr>
    }

</table>